.box{
  width: 70%;
  min-height: 400px;
  max-width: 1200px;
  display: block;
  margin:5% auto;
  background: #fff;
  padding: 20px;
  box-shadow: 1px 1px 5px grey;
}
.btn-sm{
  margin: auto 4px ; 
}

.btn-info{
  color: #000000 ;
}

.input{
  display: inline-block;
  margin:20px auto !important ;
  margin: auto;
  width: 80% !important;
  max-width: 400px !important;
}

.form .row{
  flex-direction: row;
}

.row label{
  display: inline-block !important;
  width: max-content;
}
.row input{
  display: inline-block !important;
}